:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #f5f5f5;
    --icon-color: #AFB1B8;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
img {
    display: block;
    min-width: 100%;
    height: auto;
}



body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
   
}

ul {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.container {
   
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
   
    margin-left: auto;
    margin-right: auto;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.logo {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    text-decoration-line: none;
    line-height: 1.38;
    margin-right: 93px;
}

.logo-web {
    color: var(--accent-color);
}

.nav-link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    list-style: none;
    text-decoration-line: none;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.nav-link.current::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.nav-link.current {
    color: var(--accent-color);
}

.site-nav {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.site-nav.list {
    padding-left: 0px;
}


.site-nav li:not(:last-child) {
    margin-right: 40px;
}

.contacts {
    display: flex;
    flex-direction: row;
    flex-direction: row;
    font-weight: 500;
    font-size: 14px;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    align-items: center;
    padding-left: 0px;

}
.contact-link {
    display: flex;
   
}

.contacts .contact-link+.contact-link {
    margin-left: 40px;
}

.contact-item {
    display: flex;
    align-items: center;
    text-decoration-line: none;
    color: var(--primary-text-color);
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
}
.icon-contacts {
    margin-right: 10px;
    fill: currentColor;
}



.contact-item:hover,
.contact-item:focus {
    color: var(--accent-color);

}
header {
    border-bottom: 1px solid #ECECEC;
}

/* main */

.hero {
    background-color: #2f303a;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
   url("../images/hero.jpg")
}

.hero-title {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    
    color: #fff;
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.btn {
   
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--accent-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #ffffff;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.btn:hover,
.btn:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    visibility: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    background-color: #ffffff;
    height: 581px;
    width:528px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}
.close {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    align-items: center;
}
.close-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
}


/* features */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;

}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.features {
    padding-top: 94px;
   
}

.feature-list {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
   
    padding-left: 0px;
    padding-right: 0px;

}


.feature-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
}

.feature-item {
    flex-basis: calc((100%-90px) / 4);

}

.feature-item:not(:last-child) {
    margin-right: 30px;

}
.feature-icon {
    display: flex;
    justify-content: center;
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
}



.text {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-text-color);
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 50px;
}

.work {
    padding-top: 94px;
    padding-bottom: 94px;
   
}

.work-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    
    padding-left: 0px;
    padding-right: 0px;
}

.work-item {
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;

}

.work-item:not(:last-child) {
    margin-right: 30px;
}
.work-thumb {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1)
    
    

}

.team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
   
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 50px;
}




.team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}



.team-list {
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.name {
    font-weight: 500;
    font-size: 16px;
    color: var(--title-text-color);
    line-height: 1.19;
    margin-bottom: 10px;
}

.position {
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-text-color);
    line-height: 1.19;
}

.card {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.team-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
    fill: #AFB1B8;
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
.team-link:hover, 
.team-link:focus {
    fill: #ffffff;
    background-color: var(--accent-color);

}
.link-list li:not(:last-child) {
    margin-right: 10px;
} 
.link-list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
/* clients */
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 50px;

}
.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.client-item {
    padding: 16px 32px;
}
.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    color: var(--icon-color);
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
    border: 1px solid var(--accent-color);
    color:  var(--accent-color);
    }
.client-icon{
    fill: currentColor;
}





/* footer */
.ftr {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.footer {
    display: flex;
}



.logo-footer {
    color: #ffffff;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    text-decoration-line: none;
    line-height: 1.38;
   
   

}


.location {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    list-style: none;
    text-decoration-line: none;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 12px;
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
   

}

.location:hover,
.location:focus {
    color: #2196F3
}


.contacts-footer .contact-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
   
    }
.footer-link:not(:last-child) {
    margin-bottom: 12px;
}

address {
    margin-top: 28px;
} 
.footer .contact-item {
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .contact-item:hover,
.footer .contact-item:focus {
    color: #2196F3
}
.contacts-footer {
    display: block;
    padding-left: 0px;
   
    margin-bottom: 0px;
   
}   
.contacts-footer {

    margin-top: 0px;
}
.footer-link .contact-item {
    padding-top: 0px;
    padding-bottom: 0px;
}
.socials {
    margin-left: 70px;
    padding-top: 12px;
}

.social-list {
    display: flex;
    gap: 10px;
}
.join {
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0,03 em;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px;

}
.social-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
    fill: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
     
    }
.social-link:hover, 
.social-link:focus {
    fill: #ffffff;
    background-color: var(--accent-color);

}






/* portfolio */


.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}



.button-list {
    list-style: none;
    display: flex;
    padding-left: 0px;
   
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
   
   
    
}

.button {
    font-family: 'Roboto', sans-serif;
    border: none;
    color: #212121;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
    letter-spacing: 00.03em;
    padding: 6px 22px;
    border-radius: 4px;
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
   
.button:hover,
.buttton:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.option:not(:last-child) {
    margin-right: 8px;
}
.button-list .button:hover,
.button-list .button:focus {
    background-color: var(--accent-color);
    color: #ffffff;
}




.product-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
   
    margin-bottom: 0px;
    margin-top: 50px;
    gap: 30px;
}
.product-item {
   
    flex-basis: calc((100% - 60px) / 3)
}
.product-item:hover,
.product-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
} 

.picture {
    display: block;
    max-width: 100%;
    height: auto;
}
.product-name {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}
.product-title {
    font-weight: 700;
    font-size: 18px;
    color: var(--title-text-color);
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.product {
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-text-color);
    line-height: 1.9;
}
.product-thumb {
    position: relative;
    overflow: hidden;
   
   
}
.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #ffffff;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
}
.product-link {
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product-link:hover .product-overlay {
    transform: translateY(0);
    
}







a {
    text-decoration: none;
}